@section Scripts
{
    <script src="~/lib/microsoft-signalr/signalr.js" type="text/javascript"></script>

    <script>
        let connection = new signalR.HubConnectionBuilder()
            .withAutomaticReconnect()
            .configureLogging(signalR.LogLevel.Trace)
            .withUrl("/chatHub", 
                {
                    transport: signalR.HttpTransportType.WebSockets,
                    accessTokenFactory: () => localStorage.getItem("token")
                }
            )
            .build();

        connection.on("ReceiveMessage", data => {
            
            document.getElementById("txtInfo").value += "\r\n" + data;
        });

        connection.on("AccuseReception", data => {
            if (data) { alert("Envoyé"); }
            else
                alert("Erreur");
        });

        connection.start()
            .then(() => console.log("SignalR Up"));
    </script>


     <script>

         document.querySelector('.btnjoin').addEventListener("click", function (event)
         {
             if (connection.connectionState === "Connected")
             {
                 connection.invoke("MemberJoinGroup", event.currentTarget.dataset.groupname);
             }

         });

     </script>

<script>
    document.getElementById("btnSend").addEventListener("click", function (e)
    {
        // recupérer le texte
        let info = document.getElementById("txtMessage").value;
        document.getElementById("txtInfo").value = "\r\n je dis : " + info;
        connection.invoke("SendMessage", info, "Tous", "Aucun").then(() => info = "" );
        

    });
</script>
}



<ul>
    @foreach (TechnoChat.Models.GroupModel item in Model)
    {
        <li>@item.Name <button data-groupName="@item.Name" class="btn btn-info btnjoin">Join</button> </li>
    }
</ul>
<hr />
<textarea id="txtInfo"></textarea><br />

<input type="text" placeholder="votre message" id="txtMessage" /><button id="btnSend">Send</button>










