@{
    ViewData["Title"] = "Login";
}

<div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
        <div class="card-header text-center">
            <a href="/" class="h1"><b>Techno</b>Chat</a>
        </div>
        <div class="card-body">
           
            <center><img src="~/img/logo.jpg" width="125" /></center>

            <form method="post" id="frmLogin">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Login" name="Login">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-user"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password" name="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">                       
                    </div>
                    <!-- /.col -->
                    <div class="col-8">
                        <button type="submit" class="btn btn-primary btn-block">Connexion</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>            
            <!-- /.social-auth-links -->

            <p class="mb-1">
                <a href="/Home/Forgot">Mot de passe oublié</a>
            </p>
            <p class="mb-0">
                <a href="/Home/Register" class="text-center">Enregistrez-vous</a>
            </p>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>


@section Scripts
{
    <script>
        let frm = document.getElementById("frmLogin");
        frm.addEventListener("submit", callLoginProcess, false);


        function callLoginProcess(event)
        {
            //Empêcher le post du formulaire
            event.preventDefault(); 
            let link = "https://localhost:44348/api/token/";
            let login = frm[0].value;
            let pwd = frm[1].value;
            let data = {
                "Login": login,
                "Password": pwd
            };
            fetch(link,
                {
                    method: "POST",
                    headers: { "Content-Type": "application/json; charset=utf-8" },
                    body: JSON.stringify(data)
                }
                    )
                .then(res => res.json()) 
                .then(response => {
                    // here you do what you want with response
                    localStorage.setItem('token', response.token)
                    document.location.href = "/Home/Chat"
                })
                .catch(err => {
                  
                    alert("sorry, authentication failed")
                });
        }


    </script>
}
